<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="Olzhas Arystanov" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <title>{% block title_outer %}{% block title %} - Olzhas Arystanov{% endblock %}{% endblock %}</title>
    <link rel="stylesheet" href="/theme/css/styles.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51154533-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-51154533-7');
    </script>

  </head>
  <body class="font-sans leading-normal tracking-normal bg-gray-50">
    {% include "partials/navbar.html" %}

    <div class="container px-4 py-8 mx-auto md:px-0 lg:py-16">
      {% block content %}
      {% endblock %}
    </div>


    {% include "partials/footer.html" %}

    {% block script %}
    {% endblock %}
  </body>
</html>
