<nav class="bg-gray-800 text-gray-300 shadow-lg">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 py-2">
    <div class="relative flex items-center justify-between h-16">
      <a class="block text-2xl font-bold" href="/">Olzhas Arystanov</a>

      <div class="hidden text-lg md:flex gap-8">
        <a class="hover:underline" href="/articles">Posts</a>
        <a class="hover:underline" href="/contact">Contacts</a>
      </div>

      <div class="md:hidden"></div>
    </div>
  </div>
</nav>
