<nav class="text-gray-300 bg-gray-800 shadow-lg">
  <div class="px-2 py-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <a class="block text-2xl font-bold" href="/">Olzhas Arystanov</a>

      <div class="hidden text-lg md:flex gap-8">
        <a class="hover:underline" href="/articles">Posts</a>
        <a class="hover:underline" href="/contact">Contacts</a>
      </div>

      <div class="md:hidden"></div>
    </div>
  </div>
</nav>
