<nav class="text-gray-300 bg-gray-800 shadow-lg">
  <div class="px-2 py-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <a class="block text-2xl font-bold" href="/">Olzhas Arystanov</a>

      <div class="hidden text-lg md:flex gap-8">
        <a class="hover:underline" href="/articles">Posts</a>
        <a class="hover:underline" href="/contact">Contacts</a>
      </div>

      <div class="md:hidden">
        <button class="outline-none mobile-menu-button">
          <svg
            class="w-6 h-6 text-gray-300"
            x-show="!showMenu"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
